/* UTILITIES */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border:none;
}

img {
    max-width:100%;
    
}

a {
    text-decoration: none;
    color: white;
}

button {
    border: none;
    background-color: transparent;
}

menu,
ul,
ol {
    list-style: none;
    margin:0px;
}

body {
    font-family: 'Lato', sans-serif;
    
}

.bg-darkblue{
    background-color: rgb(44, 62, 80);
}

.bg-green{
    background-color: rgb(26, 188, 156);
}

.containe{
    border:2px solid black;
}
.container-s{
    border:2px solid black;
}


.ro{
    border:2px solid black;
}

.co{
    border:2px solid black;
}



/* LAYOUT */

.about .container p{
    column-count: 2;
}

textarea{
    width:100%;
}
